body{
    padding-top: 2%;
    transition: background-color 0.5s ease;
    overflow: hidden;
    background-color: #000;
  }

  .tooltip {
    z-index: 1000; /* Make sure it's on top of other elements */
    position: absolute;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    
  }
.custheader{
    text-align:center;
    background-color: #000;
    color: white;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 7%;
    padding: 0;
    z-index: 1000;
    /* text is as h1, bold, no margin */
    font-size: 2em;
    font-weight: bold;
}

  .section {
    padding-top: 0;
    margin: 7.5% 0;
    height: 100vh;
    max-width: 100%;
    background-color: #f8f8f8;
    opacity: 0;
    transform: scale(1);
    transition: all 1s ease-in-out;
    display: grid;
}

.section.active {
    display: block; /* Show only the active section */
    opacity: 1;
    transform: scale(1);
}

.section button:hover {
    background-color: #0056b3;
}

.navigation-menu {
  position: fixed;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000; /* Ensure it's above other content */
}


.nav-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  margin-bottom: 10px;
  cursor: pointer;
}

.nav-circle.active {
  background-color: #7e3a3a; /* Active section indicator */
}  

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

#selectors-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selector-box {
    border: 1px solid #ddd;
    background-color: rgb(255, 251, 244);
    padding: 10px;
    width: 100%;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.selector-header {
    display: flex;
    align-items: center; /* Vertically align items in the center */
    justify-content: space-between; /* Distribute space between and around items */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
}

.selector-header h3 {
    margin-top: 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-right: 10px; /* Add some space between the title and the buttons */
    flex-grow: 1;
}

input[type="checkbox"] {
    margin-right: 5px;
}

label {
    margin-right: 15px;
    font-family: Arial, sans-serif;
}

#province-selectors {
    flex-direction: column;
    column-count: 7;
    font-size: 10;
}

.flex-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Adjust if needed */
}
.flex-container > * {
  margin-right: 30px; /* Adjust the value as needed */
}

.info-container {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #c9c9c9;
  color:#000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Adjust as needed */
  margin: auto;
}



#bar-chart-tooltip {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
}

.highlight {
  font-weight: bold;
  color: #700a0a; /* A deep blue, adjust as needed */
  font-size: 1.1em;
  font-weight: bold;
}

p {
  margin: 10px 0;
}


.nice-button {
    background-color: #ffdd62;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: transparent;
    color: grey;
  }
  
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -10px; 
    justify-content: center;
  }

.quadra-grid-container {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 20px));
    gap: -10px; /* Adjust the gap as needed */
    justify-content: center;
    
  }
  
.quadra-grid-container > * {
    margin: 10px; /* Adjust the margin as needed */
    height: 300px; 
    max-width: 100%; /* Adjust the max-width as needed */
    overflow: hidden;
}

.spin-animation {
  animation: spin 3s linear;
  transform-origin: center; /* This will rotate around the center of the element */
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1000deg); }
  }
  
  @keyframes funAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .responsive-svg-container {
    transition: transform 0.2s ease-in-out;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  #sunburst-container-mini {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 100%; /* Set a height, or the div will collapse */
  }
  
  .nice-button {
    transition: transform 0.2s ease-in-out;
  }
  
  .nice-button.clicked {
    transform: scale(1.2);
  }
  
  .bar-animation {
    animation: funAnimation 3s ease-in-out;
  }
  
  .bar {
    transform-origin: bottom;
    transform: scaleY(0); /* Set initial scaleY value to 0 for shrinkage */
    transition: transform 0.5s ease-in-out;
  }
  
  .bar.grow {
    transform: scaleY(1); /* Set scaleY value to 1 for growth */
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    max-width: 80%;
    max-height: 80%;
  }

  .footer{
    background: rgba(0, 0, 0, 0.7);
  }

  #probabilitiesPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  