.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

#selectors-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selector-box {
    border: 1px solid #ddd;
    background-color: rgb(255, 251, 244);
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.selector-box h3 {
    margin-top: 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}

label {
    margin-right: 15px;
    font-family: Arial, sans-serif;
}

#province-selectors {
    flex-direction: column;
    column-count: 5;
}

.nice-button {
    background-color: #ffdd62;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 500px; 
    background-color: transparent;
    color: grey;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: -10px; /* Adjust the gap as needed */
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1000deg); }
  }
  
  @keyframes funAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .responsive-svg-container {
    transition: transform 0.2s ease-in-out;
  }
  
  .nice-button {
    transition: transform 0.2s ease-in-out;
  }
  
  .nice-button.clicked {
    transform: scale(1.2);
  }
  
  .bar-animation {
    animation: funAnimation 3s ease-in-out;
  }
  
  .bar {
    transform-origin: bottom;
    transform: scaleY(0); /* Set initial scaleY value to 0 for shrinkage */
    transition: transform 0.5s ease-in-out;
  }
  
  .bar.grow {
    transform: scaleY(1); /* Set scaleY value to 1 for growth */
  }
  
  